.select_Option{
    width: 300px;
    padding: 8px;
    height: 40px;
    font-size: 1.2rem;
    color: blue;
    font-family: sans-serif;
    border: 3px solid rgb(14, 61, 76);
    display: flex;
    justify-content: space-between;


}
.select_Option span{
    cursor: pointer;
}
.value{
    width: 300px;
    padding: 12px;
    font-size: 1.2rem;
    color: blueviolet;
    

}
.value:hover{
    background: lightblue;
    cursor: pointer;
}
